$heading-font:"Marcellus", serif;
$boldfont: "Urbanist", serif;
$common-font-size: 16px;
$common-font-color:#797979;
$clr-black:#000;
$clr-dark:#443935;
$clr-white:#fff;
$clr-primary:#e2791d;
$clr-gray:#e7e7e7;
$clr-white-bg-dark:#acacac;
$transition: .5s all ease;
$outline-none:0px none;
$inherit:inherit;
$none:none;
